body {
    margin: 0;
    padding-left: 0;
    font-family: 'Raleway';
    font-size: 14px;
    width: 100%;
    display: block;
    color: #001219;
    background-color: #fdfaf7;
}

h1 {
    margin-left: 3%;
    font-size: calc(min(2em, max(1.5em, 2vw)));
}

#pageContainer {
    display: grid;
    grid-template-columns: minmax(250px, 25%) 75%;
}

#dataContainer{
    grid-column: 1;
    min-width: 200px;
    box-shadow: 4px 0px 10px 0px rgba(0,0,0,0.3);
    z-index: 2;
}

#data {
    height: 700px;
    padding: 15px;
}

#dataTable {
cursor: pointer;
}

#map{
    min-height: 500px;
    height: 100vh;
    width: 100%;
    grid-column: 2;
    z-index: 1;
}

.rotateHeader {
    white-space: nowrap;
    transform: 
    rotate(305deg);
    width: 30px;
  }

.heatMapCell{
border-radius: 5px;
  }

  .hide-text {
    color: transparent;
  }

  .hide-text:hover {
    color: black;
  }

/* Slider filter */
